<?xml version="1.0" encoding="utf-8"?>
<settings>
  <connectionstrings>
    <mysqlconnectionstring></mysqlconnectionstring>
    <redisconnectionstring></redisconnectionstring>
    <mongoconnectionstring></mongoconnectionstring>
  </connectionstrings>
  <logfilepath>D:\BookMyShow\Services\Log\</logfilepath>
</settings>